<nav>
    Choose sample:
    <NavLink href="" Match="NavLinkMatch.All">Single file</NavLink>
    <NavLink href="multi">Multiple files</NavLink>
    <NavLink href="dragdrop-viewer">Drag/drop viewer</NavLink>
    <NavLink href="image">Image file</NavLink>
    <NavLink href="native">Native upload</NavLink>
</nav>
<main>
    <Router AppAssembly="typeof(App).Assembly" Context="routeData">
        <Found>
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing here.</p>
        </NotFound>
    </Router>
</main>
