@page "/image"

<h1>Image file</h1>

<p>A single file input that reads the input as an image in a chosen format with specified maximum dimensions.</p>

<InputFile OnChange="HandleSelection" />

<p>@status</p>

@if (!string.IsNullOrEmpty(imageDataUri))
{
    <img src="@imageDataUri" />
}

@code {
    string status;
    string imageDataUri;

    async Task HandleSelection(IFileListEntry[] files)
    {
        var rawFile = files.FirstOrDefault();
        if (rawFile != null)
        {
            // Load as an image file in memory
            var format = "image/jpeg";
            var imageFile = await rawFile.ToImageFileAsync(format, 640, 480);

            imageDataUri = await imageFile.ToDataUrlAsync();
            status = $"Finished loading {imageFile.Data.Length} bytes from {imageFile.Name}";
        }
    }
}
